<main>
    <section class="header">
        <nav>
            <h1>
                <a routerLink="">Auth App</a>
            </h1>
            <div class="nav-list">
                <ul>
                    <li>
                        <a routerLink="/registration">Registation</a>
                    </li>
                    <li>
                        <a routerLink="/login">Login</a>
                    </li>
                    <li>
                        <a routerLink="/dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    <section>
        <router-outlet></router-outlet>
    </section>
</main>