<div>
  <form class="form">
    <h4>Create your account </h4>
    <div>
      <label>First Name</label>
      <input type="text" placeholder="Enter your first name..." />
    </div>
    <div>
      <label>Last Name</label>
      <input type="text" placeholder="Enter your last name..." />
    </div>
    <div>
      <label>Email</label>
      <input type="text" placeholder="Enter your email..." />
    </div>
    <div>
      <label>Password</label>
      <input type="text" placeholder="Enter your Password..." />
    </div>
    <div>
      <label>Confirm Passowrd</label>
      <input type="text" placeholder="Enter your confirm passowrd..." />
    </div>
    <div>
      <button mat-raised-button color="primary">Submit</button>
    </div>
  </form>
</div>